html {
    height: 100%;
    margi: auto;
}
body {
    /*width: 1000px;*/
    margin: 10px;
    min-height: 100%;
    background: #37465D;;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper {
    margin: auto;
    color: white;
    padding: 20px 20px;
    position: absolute;
    justify-content: center;
}

#button1{
    color: blue;
    white-space: nowrap;
    background-color: green;
    padding: 10px 20px;
    border: 0;
    border-radius: 2px;
    transition: all 150ms ease-out;
}
#button2{
    color: red;
    white-space: nowrap;
    background-color:purple;
    padding: 10px 20px;
    border: 0;
    border-radius: 2px;
    transition: all 150ms ease-out;
}

#canvas {

    border: 5px solid #F65353;
    margin: auto;
    /*top:0px;
    height: 100%;*/
}

#homeTitle{
    margin: auto;
    color: white;
    font-size: 40px;
    font-family: 'Be Vietnam Pro', sans-serif;
}