{% comment %} main.html {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Art-Work</title>
        <link rel='stylesheet' href='{% static "/css/main.css" %}'>
    </head>
    <body>
    <div class="wrapper">
        <h1>Welcome to The Art-Work</h1>
        

        <canvas id="canvas"></canvas>
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src = "{% static 'js/canvas.js' %}"></script>
        
        <div class="buttons">
            <button onclick="Clear()">Clear</button>
            <button onclick="Submit()">Submit</button>
        </div>
    </div>
    </body>
</html>