{% comment %} main.html {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Art-Work</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='{% static "/css/main.css" %}'>
    </head>
    <body>

        <div class="row">
            
            <div class="col">
                One 
            </div>
            <div class="col">
                <div class="canvasWrapper">
                    <h1 id="homeTitle">THE ART-WORK</h1>
                    <canvas id="canvas"></canvas>
                    <script src = "{% static 'js/canvas.js' %}"></script>
                    <div class="buttons">
                        <button onclick="Refresh()" id="button1">Refresh</button>
                        <button onclick="Submit()" id="button2">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col">
                three
            </div>
            
        </div>    

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>